Repository 302ai/ai-studio-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: svelte-check, prettier, eslint

svelte-check:
  name: svelte-check
  entry: pnpm exec svelte-check --no-tsconfig --ignore "src/lib/paraglide"
  language: system

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

migrate app.css
  src/app.css
Due: prettier

refactor: split TabBar component and add drag-and-drop functionality
  package.json
  pnpm-lock.yaml
  src/lib/components/buss/tab-bar/tab-bar.svelte
  src/lib/components/buss/tab-bar/tab-item.svelte
  src/lib/components/layout/TabBar.svelte
  src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

refactor: split TabBar component and add drag-and-drop functionality
  src/routes/(with-sidebar)/chat/[id]/+page.svelte
  src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

refactor: split TabBar component and add drag-and-drop functionality
  src/lib/components/buss/tab-bar/tab-bar.svelte
Due: svelte-check, prettier, eslint

docs: add CLAUDE.md with development guide
  .claude/Claude.md
  .claude/agents/git-expert.md
  CLAUDE.md
Due: none

refactor: add barrel exports for TabBar component
  src/lib/components/buss/tab-bar/index.ts
  src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

refactor(tab-bar): extract hardcoded styles to CSS variables for customization
  src/app.css
  src/lib/components/buss/tab-bar/tab-bar.svelte
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

docs: enhance CLAUDE.md with TailwindCSS 4 and component customization guidelines
  CLAUDE.md
Due: none

refactor(tab-bar): improve tab item content spacing with justify-between
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

refactor(tab-bar): enhance drag-and-drop with visual feedback and hover states
  src/lib/components/buss/tab-bar/tab-bar.svelte
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

implemented ButtonWithTooltip
  .pre-commit-config.yaml
  .vscode/settings.json
  CLAUDE.md
  messages/en.json
  messages/zh.json
  src/app.css
  src/lib/components/ui/button-with-tooltip.svelte
  src/routes/(full-width)/+layout.svelte
  src/routes/(full-width)/full/+page.svelte
  src/routes/(with-sidebar)/chat/[id]/+page.svelte
  src/routes/(with-sidebar)/dashboard/+page.svelte
Due: svelte-check, prettier, eslint

chore(ci): add conventional-pre-commit
  .pre-commit-config.yaml
Due: prettier

add settings layout
  src/app.css
  src/routes/(settings-page)/+layout.svelte
  src/routes/(settings-page)/settings-sidebar.svelte
  src/routes/(settings-page)/settings/+layout.svelte
  src/routes/(settings-page)/settings/+page.svelte
  src/routes/(settings-page)/settings/general-settings/+page.svelte
  src/routes/(settings-page)/settings/general-settings/language.svelte
  src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

feat(i18n): add language setting internationalization
  messages/en.json
  messages/zh.json
  src/routes/(settings-page)/settings/general-settings/language.svelte
Due: svelte-check, prettier, eslint

style(setting): add label color
  src/app.css
  src/routes/(settings-page)/settings/general-settings/language.svelte
Due: svelte-check, prettier, eslint

refactor(tab-bar): enhance visual design with animations and improved theming
  src/app.css
  src/lib/components/buss/tab-bar/tab-bar.svelte
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

refactor(tab-bar): simplify styling and remove duplicate CSS variables
  src/app.css
Due: prettier

chore(gitigonre): gitignore
  .gitignore
  project.inlang/.gitignore
  project.inlang/project_id
  project.inlang/settings.json
  src/app.css
  src/lib/components/ui/button-with-tooltip.svelte
Due: svelte-check, prettier, eslint

fix(setting): fix rerender when click setting tab
  src/routes/(settings-page)/settings/+page.svelte
  src/routes/(with-sidebar)/app-sidebar.svelte
  src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

fix(i18n): update correct language function name
  messages/en.json
  messages/zh.json
  project.inlang/project_id
  src/routes/(settings-page)/settings/general-settings/language.svelte
Due: svelte-check, prettier, eslint

feat(tab-bar): add right-click context menu support
  messages/en.json
  messages/zh.json
  project.inlang/project_id
  src/lib/components/buss/tab-bar/tab-bar.svelte
  src/lib/components/buss/tab-bar/tab-item.svelte
  src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

fix(i18n): correct language function name in settings
  src/routes/(settings-page)/settings/general-settings/language.svelte
Due: svelte-check, prettier, eslint

style(theme): update popover background color
  src/app.css
Due: prettier

style(chat): modified tooltip
  messages/en.json
  messages/zh.json
  src/lib/stores/chat-state.ts
  src/routes/(with-sidebar)/chat/[id]/+page.svelte
Due: svelte-check, prettier, eslint

feat(settings): add layout mode selection and update language options
  messages/en.json
  messages/zh.json
  src/routes/(settings-page)/settings/general-settings/+page.svelte
  src/routes/(settings-page)/settings/general-settings/layout-mode copy.svelte
  src/routes/(settings-page)/settings/general-settings/layout-mode.svelte
Due: svelte-check, prettier, eslint

feat(settings): add privacy mode toggle and update language options
  messages/en.json
  messages/zh.json
  src/app.css
  src/routes/(settings-page)/settings/general-settings/+page.svelte
  src/routes/(settings-page)/settings/general-settings/language.svelte
  src/routes/(settings-page)/settings/general-settings/layout-mode copy.svelte
  src/routes/(settings-page)/settings/general-settings/layout-mode.svelte
  src/routes/(settings-page)/settings/general-settings/privacy-mode.svelte
Due: svelte-check, prettier, eslint

feat(chat): add MCP server support and chat parameters UI
  messages/en.json
  messages/zh.json
  project.inlang/project_id
  src/lib/stores/chat-state.ts
  src/routes/(with-sidebar)/chat/[id]/+page.svelte
Due: svelte-check, prettier, eslint

style(theme): refine tab colors and enhance button hover effects
  src/app.css
  src/lib/components/ui/button-with-tooltip.svelte
  src/routes/(with-sidebar)/chat/[id]/+page.svelte
Due: svelte-check, prettier, eslint

style(format): update prettier config to use double quotes and trailing commas
  .prettierrc
  src/routes/(with-sidebar)/+layout.svelte
Due: svelte-check, prettier, eslint

feat(settings): implement for consistency in capitalization
  messages/en.json
  src/lib/components/buss/settings/index.ts
  src/lib/components/buss/settings/setting-switch-item.svelte
  src/routes/(settings-page)/settings/general-settings/privacy-mode.svelte
Due: svelte-check, prettier, eslint

deps: add @lobehub/icons-static-svg dependency
  package.json
  pnpm-lock.yaml
Due: prettier

feat(tab-bar): enhance tab styling and add auto-stretch functionality
  src/app.css
  src/lib/components/buss/tab-bar/tab-bar.svelte
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

feat(tab-bar): improve UX with tooltips and i18n support
  messages/en.json
  messages/zh.json
  src/lib/components/buss/tab-bar/tab-bar.svelte
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

feat(settings): add version update feature and enhance internationalization messages
  messages/en.json
  messages/zh.json
  src/routes/(settings-page)/+layout.svelte
  src/routes/(settings-page)/settings/general-settings/+page.svelte
  src/routes/(settings-page)/settings/general-settings/version-update.svelte
Due: svelte-check, prettier, eslint

feat(tab-bar): add icon support with Svelte 5 snippets
  src/app.css
  src/lib/components/buss/tab-bar/tab-item.svelte
  src/routes/+layout.svelte
Due: svelte-check, prettier, eslint

feat(tab-bar): optimize icon display and spacing for better UX
  src/app.css
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

refactor(styles): remove unused tab bar CSS variables from dark mode section
  src/app.css
Due: prettier

refactor(tab-bar): improve CSS variable usage consistency in tab-item
  src/lib/components/buss/tab-bar/tab-item.svelte
Due: svelte-check, prettier, eslint

feat(settings): enhance settings item styling and layout consistency
  src/app.css
  src/routes/(settings-page)/settings/general-settings/language.svelte
  src/routes/(settings-page)/settings/general-settings/layout-mode.svelte
  src/routes/(settings-page)/settings/general-settings/version-update.svelte
Due: svelte-check, prettier, eslint

style(chat): modified tooltip style
  messages/en.json
  messages/zh.json
  src/app.css
  src/lib/components/ui/button-with-tooltip.svelte
  src/lib/stores/chat-state.ts
  src/routes/(with-sidebar)/chat/[id]/+page.svelte
  src/routes/(with-sidebar)/chat/components/attachment-thumbnail-bar.svelte
  src/routes/(with-sidebar)/chat/components/attachment-uploader.svelte
Due: svelte-check, prettier, eslint

Path conditions:
  svelte-check: any of: \.(svelte)$
  prettier: any of: \.(js|ts|svelte|json|yaml|yml|html|css|scss)$, but not: ^(pnpm-lock\.yaml|src/lib/paraglide/.*|\.svelte-kit/.*|build/.*|node_modules/.*)$
  eslint: any of: \.(js|ts|svelte)$, but not: ^(src/lib/paraglide/.*|\.svelte-kit/.*|build/.*|node_modules/.*)$
